<h2> Vagas de emprego cadastradas</h2>

<% if @jobs.empty? %>
  <div class="warning">Nenhuma vaga de emprego cadastrada</div>
<% end %>

<% @jobs.each do |job| %>
  <div>
    <dl>
      <dt>Título da vaga: <%= link_to job.title, job_path(id: job.id) %></dt>
      <dt>Descrição: <%= job.description %></dt>
      <dt>Faixa salarial: <%= number_to_currency job.salary %></dt>
      <br>
      <hr>
    </dl>
  </div>
<% end %>

<h4>Para cadastrar numa nova vaga clique no link abaixo</h4>

<%= link_to 'Cadastrar uma vaga de emprego', new_job_path %>