<br>
<%= link_to 'Voltar', companies_path %>

<h3>Cadastrar nova vaga de emprego</h3>
<% if @job.errors.any? %>
  <div class="alert">
    <p>Não foi possível criar a promoção</p>
    <p>Confira os erros abaixo</p>
    <ul>
      <% @job.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render "fields" %>