<h2>Big Jobs </h2>
<dl>Um jeito diferente de procurar seu novo emprego </dl>

<%= link_to 'Vagas' %> <br><br>

<%= link_to 'Empresa', companies_path %> <br>
<%= link_to 'Acesso candidato', candidates_path %>

